datacenter = "dc1"
data_dir = "/opt/consul/data"
log_level = "INFO"
enable_syslog = true
bind_addr = "{{ consul_bind_addr }}"
client_addr = "{{ consul_client_addr }}"

{% if is_server %}
server = true
bootstrap_expect = {{ consul_bootstrap_expect }}
ui_config {
    enabled = true
}
{% endif %}

retry_join = {{ consul_retry_join | to_json }}

addresses {
  http = "{{ consul_client_addr }}"
  https = "{{ consul_client_addr }}"
}

ports {
  http = 8500
  https = -1
}